extends ../index.pug

block variables
    - var template = 'threejs'

block content
    .threejs
        p Let's see some cool ThreeJS stuff
        a.threejs__go__to__home__link(href='/') go back to home
    .threejs__canvas__container